.yellow {
  background-color: #00ffff;
  height: 100vh;
}

header {
  height: 120px;
  background-color: #0000ff;
  margin-top: 20px;
}

nav {
  height: 90px;
  background-color: #00ff00;
}

.green {
  background-color: #00f703;
  height: 200px;
}

.red {
  background-color: #ff0000;
  height: 200px;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .red {
    background-color: yellow;
  }
}

@media only screen and (min-width: 768px) {
  .red {
    background-color: #000;
  }
}
